@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-gradient: linear-gradient(0deg, #6969e8 0%, #af67e9 100%);
  --text1: hsl(238, 29%, 16%);
  --text2: hsl(237, 12%, 33%);
  --text3: hsl(240, 6%, 50%);
  --arrow: hsl(14, 88%, 65%);
  --divider: hsl(240, 5%, 91%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Kumbh Sans", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background-image: var(--bg-gradient);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.faq-container {
  height: 480px;
  width: 880px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  gap: 64px;
}

.img-container {
  width: 47%;
  height: 100%;
  background-image: url(./images/illustration-woman-online-desktop.svg),
    url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: right, right 64%;
  position: relative;
}

.img-container img {
  position: absolute;
  top: 41%;
  left: 0px;
  transform: translate(-50%);
}

.faq-list {
  margin-top: 48px;
  font-size: 1.5em;
  width: 50%;
}

.faq-list ul {
  list-style-type: none;
  margin-top: 32px;
  display: grid;
  width: 90%;
}

.question{
  font-size: 16px;
  display: grid;
  gap: 16px;
  padding: 16px;
}

.top-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.top-line button{
  background: none;
  border: none;
}

.top-isOpen{
  font-weight: 700;
}

.top-isOpen svg{
  transform: rotate(180deg);
}

.bottom-line{
  display: none;
}

.bottom-isOpen{
  display: inline-block;
}
